bin/Debug/net7.0/logs/log-20231215.json

#ignore 
bin/Debug/net7.0/logs/log-20231215.json
bin
bin/Debug
logs
WeatherForecast.cs
WeatherForecastController.cs

appsettings*
.vs
obj
.github
CBA.csproj.user
Services/customerService
Services/PostingService
Models/CustomerModel
Models/PostingModels
Data/userDataContext.cs
Services/ValidationService/CustomerValidationService.cs
ReadMe.md
CBA.dll
CBA.pdb
```